<h1>Listing ads</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Name</th>
    <th>Status</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><%= ad.description %></td>
    <td><%= ad.name %></td>
    <td><%= ad.state_name %></td>
    <td><%= get_name_of_type(@types, ad.ads_type_id.to_i)%></td>
    <td><%= link_to 'Show', ad %></td>
    <td><%= link_to 'Edit', edit_ad_path(ad) if can? :update, ad%></td>
    <td><%= link_to 'Destroy', ad, :method => :delete, :data => { :confirm => 'Are you sure?' } if can? :delete, ad %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @ads %>
<br />
<%= link_to 'New Ad', new_ad_path if can? :create, Ad%>
