<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>


<%= link_to 'Edit',  edit_user_registration_path %> 
<%= link_to 'My ads', ads_myads_path if current_user.role.user? %>
<% if current_user.role.admin? %>
	<%= link_to 'New ads', ads_new_ads_path %>
	<%= link_to 'Archived ads', ads_archive_ads_path %>
	<%= link_to 'Approved ads', ads_approved_ads_path %>
<% end %>

