<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @image.title %>
  <%= image_tag @image.picture.url %>
</p>


<%= link_to 'Edit', edit_image_path(@image) if can? :update, @image  %>  
<%= link_to 'Back', edit_ad_path(@image.ad_id) %>
